<!-- Content -->
<section id="about" style="background-size: cover; background-image: url('/assets/lighthouse.jpg');" class="section scrollspy">
    <div class="container">
        <h2 class="center-align">About Triangle</h2>

        <p class="indent">For over 100 years, Triangle Fraternity has provided an environment which fosters personal growth and professional success. Triangle is a brotherhood where undergraduates in engineering, architecture and science can develop long-lasting friendships and connections with a nationwide network of alumni.</p>
        <p class="indent">Triangle is active in both the Illinois and Greek community. With the University, we participate as Engineering Council representatives, compete in the EOH Robot Competition, and host dinners with U of I professors. In the Greek community, we host social exchanges with sororities and women's groups on campus, have brotherhood events for our membership, and spearhead philanthropy efforts all throughout the year.</p>
    </div>
</section>

<div class="parallax-container hide-on-small-only">
     <div class="parallax"><%= image_tag 'house.jpg', class: 'responsive-img'%></div>
</div>
<%= image_tag "house.jpg", class:'responsive-img hide-on-med-and-up	' %>

<div class="container"></div>

<section id="members" class="section scrollspy grey lighten-5">
    <div class="container">
        <h2 class="center-align">Members</h2>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag 'ian.jpg' %>
                        <span class="card-title">President</span>
                    </div>
                    <div class="card-content">
                        <p>Ian Lovrich</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag 'george.jpg' %>
                        <span class="card-title">Vice President</span>
                    </div>
                    <div class="card-content">
                        <p>George Vargehese</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag 'josh.jpg' %>
                        <span class="card-title">External Director</span>
                    </div>
                    <div class="card-content">
                        <p>Josh Ryan</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag 'trevor.jpg' %>
                        <span class="card-title">Recruitment Director</span>
                    </div>
                    <div class="card-content">
                        <p>Trevor Brady</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag 'jason.jpg' %>
                        <span class="card-title">Treasurer</span>
                    </div>
                    <div class="card-content">
                        <p>Jason Wilensky</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag 'mitch.jpg' %>
                        <span class="card-title">House Manager</span>
                    </div>
                    <div class="card-content">
                        <p>Mitchell Nahikian</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag 'matt.jpg' %>
                        <span class="card-title">Social Chair</span>
                    </div>
                    <div class="card-content">
                        <p>Matt Ho</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag 'henri.jpg' %>
                        <span class="card-title">Secretary</span>
                    </div>
                    <div class="card-content">
                        <p>Henri Montisci</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag 'dolph.jpg' %>
                        <span class="card-title">Brother Search</span>
                    </div>
                    <div class="card-content">
                        <p><a href="http://google.com">Google</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="parallax-container">
     <div class="parallax"><img src="http://stacysgotgreek.com/wordpress/wp-content/uploads/Triangle-Fraternity-Flag.jpg"></div>
</div>

<section id="events" class="section scrollspy">
    <h2 class="center-align">Spring 2016 Rush Events</h2>
    <!-- Card Rows -->
    <h4 class="center-align">Week 1</h4>
    <div class="row">
        <div class="container">
            <div class="col s12 m6">
                <div class="rush-card">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <%= image_tag 'wings.jpg', class: 'activator' %>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Wings and Rings<i class="material-icons right">more_vert</i></span>
                            <p>Come join us for brother-made hot wings and onion rings, Tuesday (1/19) @ 7pm</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Wings and Rings<i class="material-icons right">close</i></span>
                            <ul>
                                <li class="card-list-item">There will be several different flavors. Last year there were 3.</li>
                                <li class="card-list-item">Following/During the end of the event, we will be watching the Blackhawks game.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="rush-card">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <%= image_tag 'fruit_ninja.jpg', class: 'activator' %>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Fruit Ninja<i class="material-icons right">more_vert</i></span>
                            <p>Real life Fruit Ninja starts Thursday (1/21) @ 6pm</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Fruit Ninja<i class="material-icons right">close</i></span>
                            <ul>
                                <li class="card-list-item">From kiwi to bananas to oranges to watermelon, Fruit Ninja was one of the most popular events of previous semesters.</li>
                                <li class="card-list-item">We sliced and diced our way through ~$200 of fruit last year, and we are looking at a repeat this year!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Row 2 -->
    <h4 class="center-align">Week 2</h4>
    <div class="row">
        <div class="container">
            <div class="col s12 m6">
                <div class="rush-card">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <%= image_tag 'krannert.jpg', class: 'activator' %>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Capture the Flag<i class="material-icons right">more_vert</i></span>
                            <p>We will be playing CTF on Krannert, weather permitting, Tuesday (1/26) @ 6pm. Expand for more info.</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Capture the Flag<i class="material-icons right">close</i></span>
                            <ul>
                                <li class="card-list-item">We will be playing on Krannert, if the weather is right.</li>
                                <li class="card-list-item">If icy, we will play broomball instead on the ice rink at the house.</li>
                                <li class="card-list-item">Otherwise, we will head to the arc for some dodgeball.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="rush-card">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <%= image_tag 'casino_night.jpg' %>
                        </div>
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4">Casino Night</span>
                            <p>Poker, Euchre, and Card Games in general, Thursday (1/28) @ 7pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Row 3 (3 events instead of 2) -->
    <h4 class="center-align">Week 3</h4>
    <div class="hide-on-small-only">
        <div class="row">
            <div class="col s12 m4">
                <div class="rush-card">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <%= image_tag 'nerf_wars.jpg', class: 'activator' %>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Nerf Wars<i class="material-icons right">more_vert</i></span>
                            <p>Nerf Wars throughout the house, Wednesday (2/3) @ 6pm</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Nerf Wars<i class="material-icons right">close</i></span>
                            <ul>
                                <li class="card-list-item">We have a ton of Nerf Guns (and ammo too).</li>
                                <li class="card-list-item">There will be several rounds kinda like paintball or COD.</li>
                                <li class="card-list-item">Couches and tables will be used to create barriers and different playing fields.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="rush-card">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <%= image_tag 'picasso.jpg', class: 'activator' %>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Picasso Pictionary<i class="material-icons right">more_vert</i></span>
                            <p>Pictionary, Painting, and (Ph)inger paint is going to make for a great Friday night event, (2/5) @ 5pm</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Picasso Pictionary<i class="material-icons right">close</i></span>
                            <ul>
                                <li class="card-list-item">This will be a new event that will blend a house favorite with a new focus. Get ready to enjoy a new form of art!</li>
                                <li class="card-list-item">Glow in the dark finger paint will be an option for drawing as teams will work together to win a finger painting tournament.</li>
                                <li class="card-list-item">The better your team does the better your team is supplied as the event rolls on.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="rush-card">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <%= image_tag 'peyton.jpg', class: 'activator' %>
                        </div>
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4">Superbowl Smash</span>
                            <p>Superbowl football party and Smash Bros tourney in one event, Sunday (2/7) @ 5pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hide-on-med-and-up">
        <div class="row">
            <div class="container">
                <div class="col s12 m4">
                    <div class="rush-card">
                        <div class="card medium">
                            <div class="card-image waves-effect waves-block waves-light">
                                <%= image_tag 'nerf_wars.jpg', class: 'activator' %>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Nerf Wars<i class="material-icons right">more_vert</i></span>
                                <p>Nerf Wars throughout the house, Wednesday (2/3) @ 6pm</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Nerf Wars<i class="material-icons right">close</i></span>
                                <ul>
                                    <li class="card-list-item">We have a ton of Nerf Guns (and ammo too).</li>
                                    <li class="card-list-item">There will be several rounds kinda like paintball or COD.</li>
                                    <li class="card-list-item">Couches and tables will be used to create barriers and different playing fields.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="rush-card">
                        <div class="card medium">
                            <div class="card-image waves-effect waves-block waves-light">
                                <%= image_tag 'picasso.jpg', class: 'activator' %>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Picasso Pictionary<i class="material-icons right">more_vert</i></span>
                                <p>Pictionary, Painting, and (Ph)inger paint is going to make for a great Friday night event, (2/5) @ 5pm</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Picasso Pictionary<i class="material-icons right">close</i></span>
                                <ul>
                                    <li class="card-list-item">This will be a new event that will blend a house favorite with a new focus. Get ready to enjoy a new form of art!</li>
                                    <li class="card-list-item">Glow in the dark finger paint will be an option for drawing as teams will work together to win a finger painting tournament.</li>
                                    <li class="card-list-item">The better your team does the better your team is supplied as the event rolls on.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="rush-card">
                        <div class="card medium">
                            <div class="card-image waves-effect waves-block waves-light">
                                <%= image_tag 'peyton.jpg', class: 'activator' %>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Superbowl Smash</span>
                                <p>Superbowl football party and Smash Bros tourney in one event, Sunday (2/7) @ 5pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Row 4 (back to 2 events)-->
    <h4 class="center-align">Week 4</h4>
    <div class="row">
        <div class="container">
            <div class="col s12 m6">
                <div class="rush-card">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <%= image_tag 'ice_cream.jpg' %>
                        </div>
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4">Shake It Up</span>
                            <p>We'll be making ice cream and milk shakes. We might even use dry ice, Tuesday (2/9) @ 6pm.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="rush-card">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <%= image_tag 'lan_party.jpg' %>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Power Play Night</span>
                            <p>C is to C++ as Game Night is to Power Play Night. Card games meet LAN parties, Thursday (2/11) @ 7pm.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="hide-on-small-only">
    <div class="parallax-container">
        <div class="parallax"><%= image_tag 'fa15formal.jpg', class: 'responsive-img' %></div>
    </div>
</div>
<div class="hide-on-med-and-up"><%= image_tag 'fa15formal.jpg', class: 'responsive-img' %></div>

<section id="scholarship" class="section scrollspy">
    <div class="container">
        <h2 class="center-align">Live-In Scholarship</h2>
        <p class="indent">The Triangle Fraternity Scholarship is awarded to four students who have
        displayed exemplary progress in academic excellence, community involvement,
        leadership, and personal balance. All incoming male freshmen studying science,
        engineering, or architecture are eligible. Triangle promotes a strong
        individual character that includes a blend of academic excellence,
        personal and leadership skills, and personal balance. We pride
        ourselves on having members who exemplify these qualities and thus
        select the best students in each incoming freshman class. We will
        invite four applicants to accept this award and live with us. The
        scholarship provides a reduced room and board cost of $6150 during
        the 2014-2015 academic year. This amount is a substantial $4500
        less than the cost of living in a University Residence Hall.</p>

        <!-- Modal Trigger -->
        <a style="display: block; max-width: 200px" class="center-block waves-effect waves-light btn modal-trigger" href="#modal1">More Info</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 class="center-align">Triangle Fraternity Scholarship</h4>
                <div class="divider"></div>
                <p class="indent">
                As a fraternity that encourages the growth of talented, hard-working men, we expect that our winners will reap numerous benefits from living at Triangle. In turn, we believe these individuals will strengthen our brotherhood and ideals. As an incoming freshman, you will be faced with many important decisions in every aspect of your life. You will be challenged to balance your academic demands and to simultaneously develop the relationships and personal skills that will provide you with numerous intangible benefits for the rest of your personal and working life.
                </p>
                <p class="indent">
                All applicants will be judged on their academic excellence, community involvement, leadership experience, and overall individual balance. We will contact the top 15 students to set up an interview with members of the Triangle active and alumni chapter. All winners will become members of Triangle Fraternity if they wish upon successful completion of our standard new member process. Triangle has a strict anti-hazing policy and we have a flexible new member program to ensure the sustained focus on academic excellence that we expect from all of our members.
                </p>
                <p class="indent">
                Interested students and their families are encouraged to arrange a visit with us to experience Triangle first-hand. We realize that the decision to apply for such an award necessitates a great deal of consideration and deliberation, and we are happy to answer any questions or address any concerns you have.
                </p>
                <p class="indent">
                We hope that this letter has provided you with some insight into the benefits of the scholarship and what Triangle Fraternity has to offer. 2014 marks Triangle's 108th year on the University of Illinois campus, and during these years, Triangle has produced some of the most successful engineers, architects, and scientists in the world. We hope that you will become a part of our tradition and we look forward to being in contact with you.
                </p>
                <p class="indent">
                Applications are considered on a rolling basis and close July 31, 2015. Contact triangle.uiuc.rvp@gmail.com for any questions.
                </p>
                <div class="divider"></div>
            </div>
            <div>
                <a href="#!" style="margin: 0 auto; display: block; max-width: 200px;" class="center-block modal-action modal-close waves-effect waves-green btn">Close</a>
                <br/>
            </div>
        </div>
    </div>
</section>

<div class="parallax-container">
    <div class="parallax"><img src="http://lovemybrit.com/wp-content/uploads/2015/02/As-Tempting-As-it-May-Be-You-Must-Not-Open-the-Sealed-Envelope.png"/></div>
</div>

<section id="contact" class="section scrollspy">
    <h2 class="center-align">Contact Information</h2>
    <div class="row">
        <div class="col s12 l6 hide-on-small-only">
            <div class="center">
                <div class="overlay" onClick="style.pointerEvents='none'"></div>
                <iframe width="480" height="360" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJT5exbTfXDIgRAypB-U3DFHk&key=AIzaSyC2NVCFUvMukppbQZ0eINcMQ1RDwoiPDZA" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="center">
                <h5>Mailing Address</h5>
                   <p>Triangle Fraternity</p>
                   <p>112 E Daniel St</p>
                   <p>Champaign, IL 61820</p>
                   <br/>
                   <h5>Email</h5>
                   <p><a href="mailto:triangle.uiuc.pres@gmail.com">triangle.uiuc.pres@gmail.com</a></p>
                   <br/>
                   <h5>Connect with Us on <a href="https://www.facebook.com/pages/Triangle-Fraternity-Illinois/124723071469">Facebook</a></h5>
            </div>
        </div>
    </div>
</section>
